In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('naan_tikki.csv')

In [2]:
X = df[['tikki', 'naan']]
y = df['total']

In [3]:
X.head()

   tikki  naan
0      3     5
1      5     8
2      5    10
3      9    10
4     10    15

In [4]:
y.head()

0    10
1    15
2    20
3    25
4    30
Name: total, dtype: int64

In [5]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X, y)
input = [[15,25]]
output = model.predict(input)
print(input, output)

[[15, 25]] [48.51918998]

C:\Users\FineComputers\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(