In [1]:
import pandas as pd
import statistics

In [2]:
# Python code to demonstrate the working of
# variance() function of Statistics Module

# Importing Statistics module
import statistics

# Creating a sample of data
sample = [2.74, 1.23, 2.63, 2.22, 3, 1.98]

# Prints variance of the sample set

# Function will automatically calculate
# it's mean and set it as xbar
print("Variance of sample set is % s"
	%(statistics.variance(sample)))

Variance of sample set is 0.40924000000000005

In [3]:
# standard deviation

print("SD of sample set is % s"
	%(statistics.stdev(sample)))

SD of sample set is 0.639718688174732

In [4]:
# standard error
from scipy.stats import sem

# Create a dataset
data = [19, 2, 12, 3, 100, 2, 3, 2, 111, 82, 4]

# Calculate the standard error of mean
s = sem(data)

print(s)

13.172598656753378

# ancova test

In [6]:
import numpy as np
import pandas as pd

#create data
df = pd.DataFrame({'technique': np.repeat(['A', 'B', 'C'], 5),
                   'current_grade': [67, 88, 75, 77, 85,
                                     92, 69, 77, 74, 88, 
                                     96, 91, 88, 82, 80],
                   'exam_score': [77, 89, 72, 74, 69,
                                  78, 88, 93, 94, 90,
                                  85, 81, 83, 88, 79]})
#view data 
df.head()

  technique  current_grade  exam_score
0         A             67          77
1         A             88          89
2         A             75          72
3         A             77          74
4         A             85          69

In [7]:
from pingouin import ancova

#perform ANCOVA
ancova(data=df, dv='exam_score', covar='current_grade', between='technique')

          Source          SS  DF         F     p-unc       np2
0      technique  390.575130   2  4.809973  0.031556  0.466536
1  current_grade    4.193886   1  0.103296  0.753934  0.009303
2       Residual  446.606114  11       NaN       NaN       NaN

C:\Users\FineComputers\AppData\Roaming\Python\Python310\site-packages\outdated\utils.py:14: OutdatedCheckFailedWarning: Failed to check for latest version of package.
Set the environment variable OUTDATED_RAISE_EXCEPTION=1 for a full traceback.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(

### p_unc is the p uncorrected value which is 0.03 less the 0.05 we can reject the null hypothesis that each of the studying techniques leads to the same average exam score, even after accounting for the studentâ€™s current grade in the class.

In [8]:
import numpy as np
import scipy.stats as st

#define sample data
data1 = [12, 12, 13, 13, 15, 16, 17, 22, 23, 25, 26, 27, 28, 28, 29]

#create 95% confidence interval for population mean weight
st.t.interval(alpha=0.95, df=len(data1)-1, loc=np.mean(data1), scale=st.sem(data1))

(16.75776979778498, 24.042230202215016)